@model Veterinaria.Web.Models.HistoryViewModel

<div style="margin-top: 10px" class="panel panel-body">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="text-success">Historia de mascota</h4>
        </div>
    </div>
    <hr />
    <form asp-action="AddHistory" method="post">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="PetId" />
                <partial name="_History" />
            </div>
        </div>
        <hr />
        <div class="row text-center">
            <button type="submit" class="btn btn-success flotar">
                <span class="glyphicon glyphicon-plus"></span> Agregar
            </button>
            <a asp-action="DetailsPet" asp-route-id="@Model.PetId" class="btn btn-danger flotar" data-dismiss="modal">
                Regresar <span class="glyphicon glyphicon-refresh"></span>
            </a>
        </div>
    </form>
</div>

