@model Veterinaria.Web.Models.AddUserViewModel
@{
    ViewData["Title"] = "Create";
}
<div style="margin: 10px" class="panel panel-default">
    <div class="panel-body">
        <h4 class="text-primary">Agregar Cliente</h4>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="col-sm-12">
                        <div class="form-group">
                            <label asp-for="UserName" class="control-label"></label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PasswordConfirm" class="control-label"></label>
                            <input asp-for="PasswordConfirm" class="form-control" />
                            <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4>Información personal</h4>
                                <hr/>
                                <partial name="_User" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-success flotar">
                            <span class="glyphicon glyphicon-edit"></span> Guardar
                        </button>
                        <a class="btn btn-danger flotar" asp-action="Index">
                            <span class="glyphicon glyphicon-arrow-left"></span>
                            Regresar a la lista
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

