@model Veterinaria.Web.Models.EditUserViewModel

@{
    ViewData["Title"] = "Edit";
}

<div style="margin: 10px" class="panel panel-default">
    <div class="panel-body">
        <h4 class="text-primary">Editar Usuario</h4>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <partial name="_User" />
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-success flotar">
                            <span class="glyphicon glyphicon-edit"></span> Aplicar cambios
                        </button>
                        <a class="btn btn-danger flotar" asp-action="Index">
                            <span class="glyphicon glyphicon-arrow-left"></span> Regresar
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





