<!-- The Modal -->
<div class="modal fade" id="deleteDialog" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Eliminar historia</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <p>Esta seguro de eliminar el registro?</p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger flotar" id="btnYesDelete">
                    <span class="glyphicon glyphicon-trash"></span> Eliminar
                </button>
                <button type="button" class="btn btn-default flotar" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span> Cerrar
                </button>
            </div>

        </div>
    </div>
</div>