@model Veterinaria.Web.Models.EditUserViewModel

<div class="col-sm-6">
    <div class="form-group">
        <label asp-for="Document" class="control-label"></label>
        <input asp-for="Document" class="form-control" />
        <span asp-validation-for="Document" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FirtsName" class="control-label"></label>
        <input asp-for="FirtsName" class="form-control" />
        <span asp-validation-for="FirtsName" class="text-danger"></span>
    </div>
</div>
<div class="col-sm-6">
    <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address" class="control-label"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
</div>
<div class="col-sm-12">
    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
</div>
